In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pandas_datareader as web
IBM = web.get_data_yahoo("IBM", start = "2011-01-01", end = "2021-12-31")
IBM

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2010-12-31,140.602295,139.541107,140.277252,140.305923,3106411.0,95.230774
2011-01-03,141.682602,140.669220,140.736145,140.994263,4815575.0,95.697968
2011-01-04,141.701721,140.191208,141.070740,141.147232,5292865.0,95.801811
2011-01-05,140.994263,140.277252,140.860428,140.583176,4871640.0,95.418945
2011-01-06,142.246658,140.363297,140.659653,142.122375,5260543.0,96.463692
...,...,...,...,...,...,...
2021-12-27,131.649994,129.949997,130.630005,131.619995,4293900.0,130.053436
2021-12-28,133.220001,131.589996,131.600006,132.630005,3445200.0,131.051422
2021-12-29,134.210007,132.300003,132.399994,133.350006,4239900.0,131.762848
2021-12-30,134.369995,133.330002,133.750000,133.910004,3158100.0,132.316193
2021-12-31,134.990005,133.610001,134.000000,133.660004,3362100.0,132.069168

In [2]:
IBM = pd.DataFrame(IBM)
IBM.to_excel("/Users/tintin/Desktop/school/碩士/碩一下/財務計量實證專題/Middle Coursework assignment/IBM stock price.xlsx")